<div class="row align-items-center">
  <div class="col-8">
    <h1 class="text-center" style="color: #FFF;"><%= mensagem %></h1>
    <h2 class="text-center" style="color: #FFF;"><%= erro.status %></h2>
    <pre style="color: #FFF;"><%= erro.stack %></pre>
  </div>
  <div class="col-4">
    <img
      src="/images/pikachu-cry.png"
      alt="Imagem do pikachu chorando"
      class="pikachu-error"
    />
  </div>
</div>

<div class="row">
  <a href="/" class="btn btn-warning btn-pokedex">HOME</a>
</div>
